<!DOCTYPE html>
<html>
<head>
    <title>FastAPI + WebSocket Chat</title>
</head>
<body>
<h1>FastAPI + WebSocket Chat</h1>
<form action="" onsubmit="sendMessage(event)" id="form">
    <input type="text" id="messageText" autocomplete="off" placeholder="Text...">
    <button>Submit</button>
</form>
<ul id='messages'>
</ul>
<script>
    var clientID = Date.now();
    var ws = new WebSocket(`ws://127.0.0.1:8000/ws/${clientID}`);

    function processMessage(event) {
        var messages = document.getElementById('messages')
        var message = document.createElement('li')
        var content = document.createTextNode(event.data)
        message.appendChild(content);
        messages.appendChild(message);
    }

    ws.onmessage = processMessage;

    function sendMessage(event) {
        var input = document.getElementById("messageText")
        ws.send(input.value);
        input.value = ''
        event.preventDefault()
    }
</script>
</body>
</html>