<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastAPI + WebSocket Example</title>
</head>
<body>
    <h1>FastAPI + WebSocket Example</h1>
    <input type="text" id="inputText" placeholder="Text...">
    <button id="submitButton">Submit</button>
    <div id="container"></div>

    <script>
        // Создаем WebSocket-соединение с сервером
        const socket = new WebSocket('ws://127.0.0.1:8000/ws');

        // Функция отображения сообщений на странице
        function showMessage(message) {
            const messageContainer = document.getElementById('container');
            const messageElement = document.createElement('div');
            messageElement.textContent = message;
            messageContainer.appendChild(messageElement);
        }

        // Обработчик события для установления соединения
        socket.addEventListener('open', (event) => {
            showMessage('Connected to server.');
        });

        // Обработчик события для получения сообщений от сервера
        socket.onmessage = (event) => {
            showMessage("You sent : " + event.data)
        }

        // Обработчик событий при закрытии соединения
        socket.addEventListener('close', (event) => {
            showMessage('Connection closed.');
        });

        const inputText = document.getElementById("inputText");
        const submitButton = document.getElementById("submitButton");

        submitButton.addEventListener("click", function() {
            const inputValue = inputText.value;
            socket.send(inputValue)
        });

    </script>
</body>
</html>